<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Leaflet OSRM Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="../../../assets/leaflet/leaflet.css"/>
    <link rel="stylesheet" href="../../../assets/leaflet/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="../../../assets/leaflet/index.css" />
    <style>
        .leaflet-control-attribution.leaflet-control {
            font-size: 2em;
        }
    </style>
</head>

<body>
    <div id="map" class="map"></div>
    <script src="../../../assets/leaflet/leaflet.js"></script>
    <script src="../../../assets/leaflet/leaflet-routing-machine.js"></script>
    <script src="../../../assets/leaflet/Control.Geocoder.js"></script>
    <script src="../../../assets/leaflet/config.js"></script>
    <script src="../../../assets/leaflet/index.js"></script>
</body>

</html>