@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

body{
    background: url(https://www.xtrafondos.com/wallpapers/montanas-con-nieve-en-el-bosque-3934.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.capa{
    position: fixed;
    width: 100%;
    height: 400vh;
    background: rgba(0,0,0,0.6);
    z-index: -1;
    top: 0;left: 0;
}

.header{
    width: 100%;
    height: 100px;
    top: 0;left: 0;
}

.titulo{
    text-align: center;
    margin-top: 5%;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-size: x-large;
}

.tituloinicio{
  
  font-family: 'Courgette', cursive;
  color: #fff;
  font-size: 90px;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;

}

.container .btn-menu, .logo{
    float: left;
    line-height:100px;
}

.container .btn-menu label{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.logo h1{
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
    padding-top: 1.7em;
}

.container .menu{
    float: right;
    line-height: 100px;
}

.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}

.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}

#btn-menu{
    display: none;
}

.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
    height: 400vh;
}

.inputss{
  margin-left: 40%;
}

.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 400vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}

.cont-menu nav{
    transform: translateY(15%);
}

.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
    font-family: 'Montserrat', sans-serif;
}

.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}

.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.inputs{
  font-family: 'Abel', sans-serif;
  font-size: 30px;
  background: none;
  margin: 15px;
  color: #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: black;
  transition: all 0.5s ease-in-out;
}

.inputs:focus{
  border: none;
  outline: none;
  border-bottom: 1px solid #ee150d;
}

::placeholder{
  color: #fff;
}

  .alertas{
    color: white;
    margin-left: 55%;
    margin-top: -50%;
  }

.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  .wrapper {
		max-width: 600px;
		float: right;
		background-attachment: fixed;
		margin-right: 5%;
		padding-bottom: 4%;
	}
	
	.slider {
		position: relative;
		border-radius: 5px;
	}
	
	.slides {
		position: relative;
		display: flex;
		overflow: hidden;
		border-radius: 10px;
	}
	
	.slide {
		width: 600px;
		flex-shrink: 0;
		animation-name: slide;
		animation-duration: 20s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
	
	.slides:hover .slide {
		animation-play-state: paused;
	}
	
	.slide img {
		width: 600px;
		height: 400px;
		vertical-align: top;
	}
	
	.slide a {
		width: 400px;
		display: inline-block;
		position: relative;
	}
	
	.caption {
		color: white;
		text-shadow: 1px 1px black;
		font-size: 8vw;
		position: absolute;
		bottom: 8vw;
		right: 4vw;
	}
	
	.slide:target {
		animation-name: none;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 50;
	}
	
	.slider-controler {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		padding: 5px;
		background-color: rgba(0,0,0,0.5);
		z-index: 100;
	}
	
	.slider-controler li {
		margin: 0 0.5rem;
		display: inline-block;
		vertical-align: top;
	}
	
	.slider-controler a {
		display: inline-block;
		vertical-align: top;
		text-decoration: none;
		color: white;
		font-size: 1.5rem;
	}
	
	@media only screen and (min-width: 600px) {
		.slide {
			width: 600px;
		}
	
		.caption {
			font-size: 96px;
			bottom: 96px;
			right: 50px;
		}
	}

	.textito{
		max-width: 40%;
		float: left;
		padding-bottom: 4%;
		background-attachment: fixed;
		z-index: -1;
	}

	.ciclo{
		max-width: 75%;
		margin-top: 2%;
		margin-left: 7%;
		padding: 0;
		z-index: -1;
		border-radius: 5px;
	}

	.texto0{
		font-family: 'Rajdhani', sans-serif;
		color: white;
		font-size: 25px;
		text-align: center;
	}

	.texto1{
		color: white;
		line-height: 39px; 
		font-size: 40px;
		font-family: 'Rajdhani', sans-serif;
	}

  .texto2{
		color: white;
		line-height: 30px; 
		font-size: 19px;
		font-family: 'Rajdhani', sans-serif;
	}

	.lista{
		color: #fff;
		list-style-type: initial;
		font-family: 'Rajdhani', sans-serif;
		font-size: x-large;
	}

  /*Estilos de la combinacion del componente de texto e imagenes*/
  .cicloimg{
    width: 80%;
    height: 80%;
    border-radius: 9px;
  }

  #ciclo1{
    width: 40%;
    margin: 5%;
    margin-top: 0;
  }

  .repa1{
    width: 100%;
    height: 100%;
    border-radius: 9px;
    align-items: center;
  }

  

  #descripcion{
    width: 40%;
    margin: 5%;
    margin-top: 0;
  }

  #servicios{
    width: 40%;
    margin: 5%;
    margin-top: 0;
  }

.textito{
    max-width: 40%;
    transform: translateY(-100px);
    margin-left: 7%;
    padding: 0;
    position: fixed;
    background-attachment: fixed;
    z-index: -1;
}

.textito1{
    font-family: 'Rajdhani', sans-serif;
}

.imagenes{
    max-width: 600px;
    max-height: 500px;
    margin-left: 60%;
    margin-top: 13%;
    background-attachment: fixed;
}

.imagenes figure img{
    border-radius: 5px;
    width: 90%;
    height: 90%;
}

.eleccion{
    text-align: center;
    margin-top: 100px;
}

.eleccion a{
    text-decoration: none;
    outline: none;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 30px;
    background-color: rgba(215, 32, 87, 0.18);
    border-radius: 5px;
    padding: 8px;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: CENTER;
  gap: 3%;
  row-gap: 30px;
  padding-top: 10%;
}

.product-container {
  width: 10rem;
  height: 20rem;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 10px;
  background-color: rgba(80, 65, 85, 0.4);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.product-container img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  border: 5px solid rgb(0, 0, 0);
}

.product-container:hover {
  transition-duration: 0.75s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  animation-duration: 0.75s;
}

.eleccion{
    text-align: center;
    align-items: center;
}

.eleccion a{
    text-decoration: none;
    outline: none;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 30px;
    background-color: rgba(215, 32, 87, 0.18);
    border-radius: 5px;
    padding: 8px;
}

:root {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-mid {
  height: 100px;
  margin: 20px;
}

.logo-small {
  height: 20px;
  margin-bottom: 20px;
}

.map-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1100px;
  height: 500px;
  margin-left: 10%;
  margin-top: 5%;
}

.map {
  height: 500px;
  width: 1100px;
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  border-radius: 5px;
}

/* --- (4) Leaflet container with map dimensions (other properties optional) --- */
.leaflet-container {
  margin-left: 20%;
  margin-top: 5%;
  width: 1100px;
  height: 500px;
  border-radius: 5px;
  position: absolute;
}

.leaflet-control-attribution {
  font-size: 10px;
}

.divaviso{
  background-color: rgba(0, 0, 0, 0.6);
  width: 500px;
  padding: 15px;
  border-radius: 20px;
}

.enlaces{
  background-color: rgba(0, 0, 0, 0.75);
}
.reparacioninicio{
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   overflow: hidden;
   margin: 0;
}
.contenedor{
  text-align: CENTER;

}
.progreso-contenedor{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;

}

.linea::before{
  content: '';
  background-color: #ff7300;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
  transition: 0.4s ease
}
.linea{
  background-color: #ff7300;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 50%;
  z-index: -1;
  transition: 0.4s ease
}
.circulo{
  background-color:#1c1c1c;
  color: #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #c7c7c7;
  transition:0.4 ease;
}
.circulo.active{
  border-color: #ff7300;
}

.btn{
  background-color: #ff7300;
  color: orange!important;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn.active{
  transform: scale(0.98);
}

.btn:focus{
  outline: 0;
}

.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.leaflet-marker-icon{
  background-image: url('../IMG/marcadorHumilde.png');
  background-size: auto;
}

.chat{
  margin-left: 32%;
  margin-top: 50px;
  background-color: white;
  border-radius: 15px;
  width: 600px;
  height: 500px;
  align-items: center;
  align-content: center;
  text-align: center;
}

.mensaje{
  transform: translateY(430px);
  float: left;
  margin-left: 15px;
  border-radius: 10px;
}

.enviar{  
  width: 50px;
  height: 50px;
  transform: translateY(425px);
  z-index: -5;
}

.enviar img{
  border-radius: 10px;
  z-index: 1;
  width: 50px;
  height: 50px;
}

.button-16 {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.button-16:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}

.button-16:focus {
  border-color: #4285f4;
  outline: none;
}

.leaflet-marker-icon leaflet-zoom-animated leaflet-interactive leaflet-marker-draggable{
  src: url(https://static.vecteezy.com/system/resources/thumbnails/006/059/929/small/symbol-of-a-bike-isolated-on-white-background-bike-outline-icon-free-vector.jpg);
}