@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

body{
    background: url(https://www.xtrafondos.com/wallpapers/montanas-con-nieve-en-el-bosque-3934.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.capa{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    z-index: -1;
    top: 0;left: 0;
}

.header{
    width: 100%;
    height: 100px;
    top: 0;left: 0;
}

.titulo{
    text-align: center;
    margin-top: 5%;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-size: x-large;
}

.tituloinicio{
  
  font-family: 'Courgette', cursive;
  color: #fff;
  font-size: 90px;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;

}

.container .btn-menu, .logo{
    float: left;
    line-height:100px;
}

.container .btn-menu label{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.logo h1{
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
}

.container .menu{
    float: right;
    line-height: 100px;
}

.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}

.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}

#btn-menu{
    display: none;
}

.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}

.inputss{
  margin-left: 40%;
}

.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}

.cont-menu nav{
    transform: translateY(15%);
}

.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}

.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.inputs{
  font-family: 'Abel', sans-serif;
  font-size: 30px;
  background: none;
  margin: 15px;
  color: #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: black;
  transition: all 0.5s ease-in-out;
}

.inputs:focus{
  border: none;
  outline: none;
  border-bottom: 1px solid #ee150d;
}

::placeholder{
  color: #fff;
}

  .alertas{
    color: white;
    margin-left: 55%;
    margin-top: -50%;
  }

.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  .wrapper {
		max-width: 600px;
		float: right;
		background-attachment: fixed;
		margin-right: 5%;
		padding-bottom: 4%;
	}
	
	.slider {
		position: relative;
		border-radius: 5px;
	}
	
	.slides {
		position: relative;
		display: flex;
		overflow: hidden;
		border-radius: 10px;
	}
	
	.slide {
		width: 600px;
		flex-shrink: 0;
		animation-name: slide;
		animation-duration: 20s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
	
	.slides:hover .slide {
		animation-play-state: paused;
	}
	
	.slide img {
		width: 600px;
		height: 400px;
		vertical-align: top;
	}
	
	.slide a {
		width: 400px;
		display: inline-block;
		position: relative;
	}
	
	.caption {
		color: white;
		text-shadow: 1px 1px black;
		font-size: 8vw;
		position: absolute;
		bottom: 8vw;
		right: 4vw;
	}
	
	.slide:target {
		animation-name: none;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 50;
	}
	
	.slider-controler {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		padding: 5px;
		background-color: rgba(0,0,0,0.5);
		z-index: 100;
	}
	
	.slider-controler li {
		margin: 0 0.5rem;
		display: inline-block;
		vertical-align: top;
	}
	
	.slider-controler a {
		display: inline-block;
		vertical-align: top;
		text-decoration: none;
		color: white;
		font-size: 1.5rem;
	}
	
	@media only screen and (min-width: 600px) {
		.slide {
			width: 600px;
		}
	
		.caption {
			font-size: 96px;
			bottom: 96px;
			right: 50px;
		}
	}

	.textito{
		max-width: 40%;
		float: left;
		padding-bottom: 4%;
		background-attachment: fixed;
		z-index: -1;
	}

	.ciclo{
		max-width: 75%;
		margin-top: 2%;
		margin-left: 7%;
		padding: 0;
		z-index: -1;
		border-radius: 5px;
	}

	.texto0{
		font-family: 'Rajdhani', sans-serif;
		color: white;
		font-size: 25px;
		text-align: center;
	}

	.texto1{
		color: white;
		line-height: 39px; 
		font-size: 40px;
		font-family: 'Rajdhani', sans-serif;
	}

	.lista{
		color: #fff;
		list-style-type: initial;
		font-family: 'Rajdhani', sans-serif;
		font-size: x-large;
	}

  /*Estilos de la combinacion del componente de texto e imagenes*/
  .cicloimg{
    width: 80%;
    height: 80%;
    border-radius: 9px;
  }

  #ciclo1{
    width: 40%;
    margin: 5%;
    margin-top: 0;
  }

  .repa1{
    width: 100%;
    height: 100%;
    border-radius: 9px;
    align-items: center;
  }

  

  #descripcion{
    width: 40%;
    margin: 5%;
    margin-top: 0;
  }

  #servicios{
    width: 40%;
    margin: 5%;
    margin-top: 0;
  }

.textito{
    max-width: 40%;
    transform: translateY(-100px);
    margin-left: 7%;
    padding: 0;
    position: fixed;
    background-attachment: fixed;
    z-index: -1;
}

.textito1{
    font-family: 'Rajdhani', sans-serif;
}

.imagenes{
    max-width: 600px;
    max-height: 500px;
    margin-left: 60%;
    margin-top: 13%;
    background-attachment: fixed;
}

.imagenes figure img{
    border-radius: 5px;
    width: 90%;
    height: 90%;
}

.eleccion{
    text-align: center;
    margin-top: 100px;
}

.eleccion a{
    text-decoration: none;
    outline: none;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 30px;
    background-color: rgba(215, 32, 87, 0.18);
    border-radius: 5px;
    padding: 8px;
}

.product-container{
    width: 450px;
    height: 450px;
    text-align: center;
    align-items: center;
    margin: 5%;
}

.product-container img{
    width: 300px;
    background-color: grey;
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: black;
    border-radius: 15px;
}

.eleccion{
    text-align: center;
    align-items: center;
}

.eleccion a{
    text-decoration: none;
    outline: none;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 30px;
    background-color: rgba(215, 32, 87, 0.18);
    border-radius: 5px;
    padding: 8px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&family=Roboto:wght@300;400&family=Space+Mono&family=Ubuntu&family=Ubuntu+Mono&display=swap');

:root {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-mid {
  height: 100px;
  margin: 20px;
}

.logo-small {
  height: 20px;
  margin-bottom: 20px;
}

.map-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 2000px;
  height: 1000px;
  margin-left: 15%;
  margin-top: 5%;
}

.map {
  height: 1000px;
  width: 2000px;
  margin: 30px;
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  border-radius: 5px;
}

/* --- (4) Leaflet container with map dimensions (other properties optional) --- */
.leaflet-container {
  width: 2000px;
  height: 1000px;
  border-radius: 5px;
}

.leaflet-control-attribution {
  font-size: 10px;
}